.admin-resources-page {
  min-height: 600px;

  #order-btn-container {
    text-align: right;


    @media(max-width:$screen-sm-min) {
      text-align: initial;
    }

    #resource-order-btn {
      margin-top: 24px;

      @media(max-width:$screen-sm-min) {
        margin-top: 0px;
        margin-bottom: 12px;
      }
    }
  }

  .loadedContent {

    .availability-view .date-selector {
      font-size: 1em;
      height: 40px;

      .date-picker {
        >input {
          min-width: 142px;
          border-bottom: solid white 2px;
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 2px;
          height: 30px;
        }

        .DayPicker-WeekDaysRow,
        .DayPicker-Day {
          font-size: 1em;
        }

        .date-picker-overlay {
          padding: 15px;
        }
      }

      .previous,
      .next {
        text-decoration: none;
      }
    }
  }

  .date-picker .DayPicker-WeekDaysRow {
    font-size: 1em;
  }

  @include high-contrast {
    .loadedContent {

      .resource-type-filter-container {
        background-color: transparent;
        border: 1px solid black;
      }

      .availability-view {
        .top-left {
          background-color: transparent;
          color: black;
          border: 1px solid black;
        }

        .sidebar>.group-info {
          background-color: transparent;
          border: 1px solid black;
        }

        .date-selector {
          background-color: transparent;
          color: black;
          border: 1px solid black;

          a {
            color: black;
          }

          .date-picker input {
            color: black;
          }

          .date-picker::after {
            border-top-color: black;
          }
        }
      }
    }
  }

  @media(max-width: $screen-sm-max) {
    .availability-view .date-selector .current-value .date-picker {
      >div {
        margin-left: -150%;
      }

      >input {
        min-width: 120px;
      }
    }
  }

  @media(max-width: $screen-xs-max) {
    .availability-view .date-selector {
      justify-content: center;

      .previous,
      .next {
        display: none;
      }
    }
  }
}