.app-ReservationTime {
  padding-bottom: 22px;

  &__controls {
    text-align: right;
    padding-bottom: 8px;
    .btn {
      margin-left: 15px;
    }
  }
  .reservation-calendar-reserve-info {
    @media (max-width: $screen-xs-max){
      margin-bottom: 8px;
     }
    .btn {
      display: none;
    }
  }
}
