.app-ManageReservationsFilters {
  &__datePickers {
    display: flex;

    @media (max-width: $screen-sm-max) {
      display: block;
    }

    .app-DateField {
      flex: 1;
    }

    .separator {
      padding: 4px;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  &__resetButton {
    margin-top: 24px;
    color: #0065AD !important;
    img {
      margin-left: -8px;
      width: $line-height-computed;
    }
  }
}
