.reservation-success-modal {
  .modal-title {
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (max-width: $screen-xs-min) {
      margin-bottom: 20px !important;
    }
  }
  &__content {
    background-color: $white;
    border-radius: 2px;
    color: $black;
    padding: 10px;
  }
  .reservation-access-code {
    font-weight: $font-weight-bold;
  }
}
