@import './reservation-time-controls';

.checkbox-field {
  .help-block {
    margin-left: 20px;
  }
}

.terms-checkbox-field {
  .checkbox {
    display: inline;

    input[type="checkbox"] {
      position: inherit;
      margin-right: 8px;
    }
  }

  .terms-checkbox-field-link {
    cursor: pointer;
    color: $blue;
    display: inline;
    min-height: 22px;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 1em;
    margin: 0;
    border-width: 0;
    padding: 2px 2px 2px 6px;
  }
}

.universal-data-image {
  @media (max-width: 500px) {
    width: 100%;
  }

  @media (min-width: 500px) and (max-width: $screen-xs-max) {
    height: auto;
    max-width: 400px;
  }

  @media (min-width: $screen-xs-max) {
    height: auto;
    width: inherit;
  }
}

.form-radio-group {
  legend {
    font-size: 1.17em;
    margin-bottom: 12px;
  }

  p {
    margin: 0 0 4px 0;
  }

  label {
    display: block;
  }

  input {
    margin-right: 4px;
  }
}

.preserve-rows {
  white-space: pre;
}
