.app-ReservationProducts {
  .form-controls {
    text-align: right;
    margin-bottom: 8px;
  }

  .btn {
    margin-left: 15px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 8px;
    }
  }

  #products-error-message {
    font-weight: bold;
    margin: 64px 0;
  }

  .quantity-button {
    padding: 0 4px;

    &.minus {
      margin-right: 8px;
    }

    &.plus {
      margin-left: 8px;
    }
  }

  .no-whitespace-wrapping {
    white-space: nowrap;
  }

  .mandatory-mobile-list,
  .extra-mobile-list {
    @media (max-width: $screen-xs-max) {
      display: block;
    }

    display: none;

    >ul {
      list-style: none;
      padding: 0;
    }

    li {
      border-top: 1px solid #525a65;

      >div {
        display: flex;
        flex-direction: column;
        text-align: center;

        p:first-of-type {
          margin-top: 0.5em;
        }

        p:first-of-type,
        p:last-of-type {
          font-weight: bold;
        }
      }
    }

    li:last-of-type {
      border-bottom: 2px solid #525a65;
    }

    li:first-of-type {
      border-top: 2px solid #525a65;
    }

    p {
      margin: 0 0 0.5em;
    }

    .extra-mobile-quantity-input {
      display: flex;
      justify-content: center;

      >span {
        padding: 5px 0;
      }

      button {
        height: 2.25em;
        width: 2.25em;
      }
    }

    .extra-mobile-total {
      margin-top: 1em;
      font-weight: bold;
    }
  }

  .mandatory-products {
    table {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

  }

  .extra-products {
    .form-group {
      margin-bottom: 0;
    }

    .table-responsive {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .form-control {
      border-width: 1px;
      padding: 2px 4px;
      height: initial;
      width: 70px;

      @media (max-width: $screen-xs-max) {
        width: 50px;
        white-space: nowrap;
      }
    }
  }

  .products-summary {
    .vat-total {
      margin-bottom: 4px;
    }

    .complete-total {
      margin-top: 8px;
      font-weight: bold;
    }
  }

  #customer-group-select-wrapper {
    p {
      margin-bottom: 4px;
    }
  }

  #customer-group-select {
    display: block;
    font-weight: normal;
  }

  .has-error {
    color: $varaamo-high-contrast-red;
  }

  #products-page-validation-and-errors {
    color: $varaamo-high-contrast-red;
    display: flex;
    justify-content: flex-end;

    p {
      margin-top: 12px;
      margin-bottom: 8px;
    }

    .list {
      margin-bottom: 4px;

      p {
        margin-top: 0;
        margin-bottom: 0;
        list-style: disc inside none;
        display: list-item;
      }
    }
  }

  .pricing-expandable-panel {
    margin-bottom: 0;

    @media (max-width: $screen-xs-max) {
      margin-top: 0px;
      margin-bottom: 8px;
    }

    .panel-heading {
      padding: 0;

      @media (max-width: $screen-xs-max) {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      @include high-contrast {
        background-color: black !important;
      }
    }

    .panel-title {
      font-size: 1em;

      a {
        padding-left: 24px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 100%;

        &::before {
          background-image: url('../../../assets/icons/angle-right.svg');
          background-repeat: no-repeat;
          background-size: $line-height-computed;
          content: ' ';
          display: inline-block;
          left: 0;
          position: absolute;
          height: $line-height-computed;
          width: $line-height-computed;
        }
      }

      a[aria-expanded="true"]::before {
        background-image: url('../../../assets/icons/angle-down.svg');
      }

      a[aria-selected='true']::before {
        background-image: url('../../../assets/icons/angle-down.svg');
      }
    }

    .panel-collapse {
      .time-slot-price-list {
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 1.6;

        @media (max-width: $screen-xs-max) {
          list-style: none;
          padding-left: 0;
        }

        li {
          padding-right: 4px;
          border: initial;
        }
      }
    }
  }

  .time-slot-price-table-row {
    width: 290px;
  }
}

@include high-contrast {
  .pricing-expandable-panel {
    .panel-heading {
      background-color: $white;
    }
  }
}

.__font-size-small {
  .extra-product-quantity-table-data {
    min-width: 105px;
  }
}

.__font-size-medium,
.__font-size-large {
  .extra-product-quantity-table-data {
    min-width: 125px;
  }
}
