@import './reservation-filters/reservation-filters';
@import './reservation-list/reservation-list';

.app-UserReservationPage {

  background-color: $hel-silver;

  &__overlay {
    z-index: 5;
  }

  &__content {
    position: relative;
  }

  @include highContrast{
    .reservation-list .reservation {
      border: 1px solid black;

      .image-container {
        background-color: transparent;
      }
    }
  };

  .app-PageWrapper {
//    background-color: $hel-silver;
  }
}
