.reservation-calendar {
  @media (min-width: $screen-md-min) {
    margin-bottom: 10px;
  }

  &__reserve-button {
    font-size: 24px;
    margin-top: 8px;
    text-align: center;
    display: block;
    float: right;
   @include add-focus(4px,black);
  }
}

.reservation-calendar-reserve-info {
  > div:first-child {
    padding-left: 0;
    padding-top: 16px;
  }
  > div:not(:first-child) {
    padding-right: 5;
    text-align: right;
  }
}

.reservation-calendar-skip-to-selected-date {
  margin-left: 15px;
  margin-bottom: 8px;
  display: inline-block;
  @media (max-width: $screen-md-min) {
    display: none;
  }
}
