@media (max-width:$screen-sm-max) {
  .mobile-Navbar_mobile.is-collapsed {
    max-height:0;
    overflow: hidden;

  }
  .mobile-Navbar_mobile {

    max-height: 300px;
    display: flex;
    background-color: $turku-blue-dark;
    color: $white;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;

    .icon {
      height:60px;
      width: 60px;
    }
    ul {
      margin-bottom: 0;

      li {
        display: block;
        padding-bottom: 5px;
        span {
          padding-left: 5px;
          &.active {
            text-decoration: underline;
          }
          &#firstA {
            font-size: 1em;
          }
          &#secondA {
            font-size: 1.25em;
          }
          &#thirdA {
            font-size: 1.5em;
          }
        }
        .contrast_button {
          filter: invert(100%);
        }
      }

    }

    .container{
      width: 100%;

      .col-xs-12 {
        display: flex;
        justify-content: center;
      }
    }


  }
  .mobile-Navbar_mobile .icon > svg {
    height: 1.5em;
    width: 1.5em;

}
}

@media(min-width:$screen-md-min) {
  .mobile-Navbar_mobile.is-collapsed, .mobile-Navbar_mobile {
    display: none;
  }
}


