.app-ResourceCompactList {
  $button-size: $line-height-computed;
  $button-offset: 10px;
  $button-offset-mobile: 2px;
  position: sticky; //fixed
  bottom: 100px;
  left: 0;
  margin: auto;
  padding: 0 8px 0 8px;
  width: 100%;

  @media (min-width: $screen-xs-min) {
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    position: sticky;
    width: calc(100% - 30px);
  }

  &_arrow {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 100%;
    border: none;
    margin: 0px -24px;
    background-position: center;
    z-index: 1;

    img {
      color: $white;
      width: $button-size - 4;
    }

    &-left {
      left: $button-offset-mobile;
      @include icon-angle-left($white);

      @media (min-width: $screen-sm-min) {
        left: $button-offset;
      }
    }

    &-right {
      right: $button-offset-mobile;
      @include icon-angle-right($white);

      @media (min-width: $screen-sm-min) {
        right: $button-offset;
      }
    }
  }
  .app-ResourceCard {
    margin: 0;


    &.app-ResourceCard__stacked {
      border: 0;
    }


    .resource-availability {
      padding-bottom: 12px;
    }

    &__image-link{
      display: block;
      height: $app-ResourceCard-height + 10px;
      width: 100%;

      &__large-font-size {
        display: block;
        height: 100px;
      }
      @media (max-width: $screen-lg-min) {
        height: $app-ResourceCard-height;
      }
      @media (min-width: $screen-lg-min) {
        height: 200px;
      }
    }
    &__content {
      @media (min-width: $screen-md-min) {
        flex: 1 2 20%;
        overflow: hidden;
      }

      .app-ResourceCard__description {
        &__large-font-size {
          display: none;
        }
        @media (max-width: $screen-lg-min) {
          display: none;
        }
      }
    }
    &__info {
      display: block;
      flex: 1 2 30%;
      overflow: hidden;

      @media (max-width: $screen-lg-min) {
        display: none;
      }

      &__large-font-size {
        display: none;
      }
    }
  }
}
