.app-ReservationConfirmation {
  padding-bottom: 22px;

  &__terms {
    border: 1px solid $medium-gray;
    padding: 10px;
  }

  &__button-wrapper {
    text-align: right;
  }

  &__field {
    padding-top: 12px;
    word-break: break-all;
  }
  a {
    color: $blue;
  }
  &__icon {
    height: 20px;
    margin-right: 6px;
  }

  &__resource-name {
    text-align: center;
    font-weight: bold;
  }

  p {
  text-align: center;
  }

  .reservation-date {
    .reservation-date__content {
      margin: 0 auto 8px auto;
      display: block;
    }
    h3 {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .details-heading {
    padding: 0;
  }
}
