.modal-backdrop {
  z-index: 30000;
}

.modal {
  z-index: 30010;
  &.modal-city-theme {
    .modal-content {
      color: $black;

      h1, h2, h3, h4, h5, h6, label {
        font-weight: 300;
      }
    }
    .modal-header {
      border: none;
      &::before {
        content: '';

        background-image: url('../pictures/logo.png');
        filter: brightness(0);

        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        right: 43%;
        @media (max-width: $screen-xs-max){
          right: 35%;
        }
        margin: 0 auto;
        height: 50px;
        width: 108px;
        margin-top: 20px;
      }
      .modal-title {
        margin-top: 80px;
        text-align: center;
      }
      button.close {
        font-weight: 300;
        opacity: 1;
      }
    }
  }
  .modal-footer {
    border: none;
    text-align: center;

    .btn-danger{
      color: $varaamo-high-contrast-red;
      background-color: transparent;
      border-color: $varaamo-high-contrast-red;
    }

  }
  .btn {
    &+.btn {
      margin-left: 5px;
    }
  }
  .well {
    background-color: $white;
  }
}
