@import "_turku-mixins";

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.5;
}

html {
  scroll-behavior: auto;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


p {
  margin: 0 0 2em;
}

a {
  @include add-focus{
    outline-offset: 0;
  };
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper input:focus-visible + span,
  #CybotCookiebotDialog :focus-visible {
    outline-offset: 1px;
  }
  #CybotCookiebotDialog .CybotCookiebotDialogContentWrapper #CybotCookiebotDialogNav :focus-visible {
    outline-offset: -5px;
  }
  #CybotCookiebotDialogPoweredbyImage {
    max-height: 4em;
    content:url("https://www.turku.fi/sites/all/themes/custom/driveturku/favicon-194x194.png") !important;
  }
  #CybotCookiebotDialogHeader {
    padding: 0.75em;
  }
  a#CybotCookiebotDialogPoweredbyCybot {
    display:none;
  }
}

