// Typography

$font-size-h1: 2em;
$font-size-h2: 1.5em;
$font-size-h3: 1.17em;
$font-size-h4: 1em;
$font-size-h5: .83em;
$font-size-h6: .75em;

$fontSize-small: 16px;
$fontSize-medium: 18px;
$fontSize-large: 22px;

$fontSize-mobile-small: 15px;
$fontSize-mobile-medium: 16px;
$fontSize-mobile-large: 18px;


// Colors
$focus-highlight: black ;
$turku-blue: #006bb6;
$turku-blue-dark: #37475e;
$turku-black: black;
$turku-darkblue: #006bb6;
$turku-yellow: #ffd239;
$turku-lightblue: #00aeff;
$turku-red: #e4032e;
$turku-rubyred: #ed0c6e;
$turku-bermuda: #7dcdc8;
$turku-orange: #f26522;
$turku-gray: #c3c4b7;
$turku-darkgreen: #00a97a;
$turku-darkgray: #404040;
$turku-high-contrast-red: #AB0124;


// Layout

$screen-400: 400px !default;
$screen-400-min: $screen-400 !default;
$screen-400-max: ($screen-xs-min -1) !default;

$screen-xl: 1400px !default;
$screen-xl-min: $screen-xl !default;
$screen-lg-max: ($screen-xl-min - 1) !default;


