@import './about/about-page';
@import './admin-resources/admin-resources-page';
@import './favorites/favorites-page';
@import './home/home-page';
@import './reservation/reservation-page';
@import './resource/resource-page';
@import './search/search-page';
@import './user-reservations/user-reservations-page';
@import './accessibility-info/accessibility-info-page';

.app-PageWrapper {
  position: relative;

  &__transparent {
    background: transparent;
    min-height: auto;
  }
}


.cookie-accept-button{
  display: flex;
  background: $turku-yellow;
  border: 0px;
  border-radius: 12px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: auto 8px auto 12px;
@media (max-width: $screen-xs-max) {
  margin: auto 12px 12px auto;
}
}

.cookie-decline-button {
  display: flex;
  background: $turku-red;
  border: 0px;
  border-radius: 12px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: auto 12px auto auto;
  @media (max-width: $screen-xs-max) {
    margin: auto auto 12px 12px;
  }
}

// Fontsize classes, applied when changing the fontsize.

.__font-size-small {
  font-size: $fontSize-small;
}

.__font-size-medium {
  font-size: $fontSize-medium;
}

.__font-size-large {
  font-size: $fontSize-large;
}

@media(max-width:$screen-md-min){
  .__font-size-small {
    font-size: $fontSize-mobile-small;
  }

  .__font-size-medium {
    font-size: $fontSize-mobile-medium;
  }

  .__font-size-large {
    font-size: $fontSize-mobile-large;
  }
}
