@import './about/about-page';
@import './admin-resources/admin-resources-page';
@import './favorites/favorites-page';
@import './home/home-page';
@import './reservation/reservation-page';
@import './reservation/payment/reservation-payment';
@import './resource/resource-page';
@import './search/search-page';
@import './user-reservations/user-reservations-page';
@import './accessibility-info/accessibility-info-page';


.app-PageWrapper {
  position: relative;

  &__transparent {
    background: transparent;
    min-height: auto;
  }
}
// Fontsize classes, applied when changing the fontsize.

.__font-size-small {
  font-size: $fontSize-small;
}

.__font-size-medium {
  font-size: $fontSize-medium;
}

.__font-size-large {
  font-size: $fontSize-large;
}

@media(max-width:$screen-md-min){
  .__font-size-small {
    font-size: $fontSize-mobile-small;
  }

  .__font-size-medium {
    font-size: $fontSize-mobile-medium;
  }

  .__font-size-large {
    font-size: $fontSize-mobile-large;
  }
}
