@import './reservation-confirmation/reservation-confirmation';
@import './reservation-information/reservation-information';
@import './reservation-phases/reservation-phases';
@import './reservation-time/reservation-time';

.app-ReservationPage {

  &__header{
    text-align: center;
  }

  .btn.btn-warning {
    background-color: $yellow;
    color: $black;
  }
}
