@import './reservation-confirmation/reservation-confirmation';
@import './reservation-information/reservation-information';
@import './reservation-phases/reservation-phases';
@import './reservation-time/reservation-time';
@import './reservation-products/reservation-products';

.app-ReservationPage {

  &__header{
    text-align: center;
  }

  .btn.btn-warning {
    background-color: $yellow;
    color: $black;
  }
  // High-contrast
  &__content{
    @include high-contrast{

     .well{
       background-color: white;
       border: 1px solid $black;
     }
   }
 }

 .app-ReservationDetails {
  &__label {
    font-weight: bold;
    margin-bottom: 0px;
  }

  &__value {
    margin-bottom: 8px;
  }
 }
}
