.reservation-payment-modal {

  .reservation-name {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .reservation-price {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
  }

  .reservation-payment-notice {
    margin-bottom: 12px;
  }

  .btn-success {
    color: #008540;
    border-color: #008540;
  }
}
