.accessibility-shortcuts{
  text-align: center;
  background-color:#37475e;
  .visually-hidden {
    &.skip-link {
      &:focus,
      &:active {
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        overflow: visible;
        outline: none;
        color:$white;
      }
    }
  }
}
