html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Tahoma", "Arial", sans-serif !important;
}

.header-logo {
  margin: 8px 0px 8px 0px
}


nav.main-nav {
  background-color: #37475e !important;
  height: 60px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 16px !important;
}

main {
  flex-grow: 1;
}

.main-content-header {
  font-weight: bolder;
  font-size: 2em;
  margin: 30px 0px 30px 0px;
}

footer {
  background-color: #37475e;
  color: white;
  min-height: 230px;
  width: 100%;
  text-align: center;
}

.footer-text {
  display: block;
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 16px;
}

footer a {
  color: white;
  display: block;
  text-align: center;
  position: relative;
  top: 35%;
}

footer a:hover {
  color: white;
}

.footer-header {
  font-weight: bolder;
  font-size: 1.5rem;
}

.turku-logo-footer {
  display: block;
  position: absolute;
  margin-top: 20px;
  left: 10%;
}

@media (max-width:600px) {
  footer {
    min-height: initial;
  }

  .turku-logo-footer {
    display: initial;
    position: initial;
    margin-bottom: 12px;
  }

  .footer-text {
    top: 0;
    margin-bottom: 8px;
  }
}