@import './controls/search-controls';
@import './results/search-results';

.app-SearchPage {

  background-color: $silver;

  &__overlay {
    z-index: 5;
  }

  &__content {
    position: relative;
  }

  &__sortControlRow {
    margin-top: 10px;
  }

  .app-MapToggle {
    background-color: $varaamo-secondary;
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    &__results-count {
      padding-top: 8px;
    }
    @include high-contrast{
      button {
        background-color: inherit;
        border-color: transparent;
      }
      button:hover,
      button:active {
        background-color: transparent;
        border-color: black;
        box-shadow: none;
      }
    };
    button {
      background-color: $varaamo-secondary;
      border-color: $varaamo-secondary;
      color: $black;
      font-size: 1em;
      @include add-focus($width: 2px, $color: currentColor) {
      }
    }
    button:hover,
    button:active {
      background-color: darken($varaamo-secondary, 5);
      border-color: darken($varaamo-secondary, 5);
      box-shadow: none;
    }
    .btn.active-tab,
    .btn[active-tab] {
      background-color: $hel-silver;
      border-color: $hel-silver;
      opacity: 1;
      cursor: default;
    }
    .btn.active-tab:hover,
    .btn[active-tab]:hover,
    .btn.active-tab:active,
    .btn[active-tab]:active {
      border-color: $hel-silver;
    }
  }
  .react-toggle-screenreader-only{
    width: 0;
    height: 0;
  }
  @media (max-width: $screen-xs-max) {
       /* fix for map */
     .app-ResourceCompactList {
        max-width: calc(100% - 45px);
        font-size: 1.2em;
    }
  }
}
