$purposeCellHeight: 350px;

.app-HomePage {
  background-color: $white;
  background-image: url("./images/aurajokibanner.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $screen-md-min) {
    background-size: auto;
  }


  .app-PageWrapper {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99.5%, rgba(255,255,255,0) 100%);

  }

  &__content {
    color: $white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    h1 {
      margin: 2px 0;
    }
    &.container {
      background-color: rgba(0,55,94,0.2);
    }
  }

  .app-HomeSearchBox {
    padding: 60px 0;
    display: flex;
    flex-direction: row;

    @media(min-width: $screen-md-min) and (max-width:$screen-md-max){
      padding: 10px 0 0 0;
    }

    &__textfield {
      background-color: $white;
      border-width: 2px;
      display: inline-block;
      padding: 6px;
      max-width: 500px;


      @media (max-width: $screen-md-min) {
        max-width: 300px;
      }
    }
    button {
      display: inline-block;
      margin-left: 12px;
      text-transform: uppercase;

      @include add-focus($color: white){}
    }
  }

  &__koro {
    @include koro("storm", $white, 400);
    height: 72px;
    width: 100%;
  }

  .app-HomePageContent {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    h4 {
      margin-top: 0;
    }

    .loadedContent {
      min-height: 100px;
    }

    &__banner {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      height: $purposeCellHeight;


      &-icon {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__linkWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
        background-color: $varaamo-secondary;
        height: 100%;
        position: relative;
        text-decoration: none;
//        border: 1px solid black;
        @include box-shadow;

        &:hover, &:active, &:focus {
          color: $black;
          background-color: $varaamo-secondary;
        }
        @include add-focus(4px);
        img {
          height: 100%;
          width: 100%;
        }

        svg {
          height: 50%;
          width: 100%;
        }

        h3 {
          margin: 0 10px;
        }

        button {
          color: $white;
        }

        &:hover,
        &:focus {
          h5 {
            color: $black;
          }

          button {
            color: $white;
          }
        }
      }
      button {
        text-transform: uppercase;
        font-size: 1em;
        @include add-focus;
      }
    }
  }
}

.app-HomePage {
  &__content {
    &.container.high-contrast {
      background-color: $white;
      color:$black;
      text-shadow: none;

    }
  }
  .app-HomePageContent {
    &__banner {
      &__linkWrapper.high-contrast {
        background-color: $white;
      }
    }
  }
}
