

.cookie-accept-button{
  display: flex;
  background: $turku-yellow;
  border: 0px;
  border-radius: 12px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: auto 8px auto 12px;
  @media (max-width: $screen-xs-max) {
    margin: auto 12px 12px auto;
  }
}

.cookie-decline-button {
  display: flex;
  background: $turku-red;
  border: 0px;
  border-radius: 12px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: auto 12px auto auto;
  @media (max-width: $screen-xs-max) {
    margin: auto auto 12px 20px;
  }
}

.cookieConsent {
  @media (min-width: $screen-sm-min) {
    flex-wrap: nowrap!important;
  }
}
