.app-ReservationInformation {
  form {
    padding-bottom: 15px;
  }

  .form-controls {
    text-align: right;
  }

  .btn {
    margin-left: 15px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 8px;
    }
  }

  .select-input {
    border: 2px solid #000000;
    margin-top: 7px;

    @media(max-width: $screen-md-min) {
      width: 100%;
    }
  }

  .payment-info-heading-container {
    #payment-info-heading {
      margin-top: 0;
    }

    #copy-info-button {
      margin-left: 0;
      white-space: normal;

      @media(max-width: $screen-md-min) {
        width: 100%;
      }
    }

    #copied-info-status {
      margin-left: 8px;
    }

    #copied-info-status.hide-info {
      opacity: 0;
    }

    .align-right {
      text-align: right;
    }
  }


  .has-error {

    .control-label,
    .help-block,
    label {
      color: $varaamo-high-contrast-red;
    }

    .form-control {
      border-color: $varaamo-high-contrast-red;
    }

    .terms-checkbox-field-link {
      color: $blue;
    }
  }

  .wrapped-text a {
    color: $blue;
  }

  #information-page-validation-and-errors {
    color: $varaamo-high-contrast-red;
    display: flex;
    justify-content: flex-end;

    .validation-error-label {
      text-align: left;
    }

    @media (max-width: $screen-xs-max) {
      text-align: left;
      justify-content: flex-start;
    }

    p {
      margin-top: 12px;
      margin-bottom: 8px;
    }

    ul {
      text-align: start;
      padding-left: 18px;
    }
  }
}