@import './inputs/dateField';
@import './inputs/buttonGroupField';
@import './inputs/toggleField';
@import './filters/manageReservationsFilters';
@import './status/manageReservationsStatus';
@import './list/manageReservationsList';

.app-ManageReservationsPage {
  min-height: 675px;

  h1 {
    margin: 32px 0 16px;
  }

  #cancel-btn-container {
    text-align: right;

    @media(max-width:$screen-sm-min) {
      text-align: initial;
    }

    #cancel-reservations-btn {
      margin-top: 32px;

      @media(max-width:$screen-sm-min) {
        margin-top: 0px;
        margin-bottom: 8px;
      }
    }
  }


  &__filters {
    background-color: #dedfe1;
    padding: 0 0 40px;
  }

  &__list {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}