.reservation-info-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .reservation-state-label-container {
    text-align: right;
    font-size: 2.4rem;
    margin-bottom: 10px;

    .label-success {
      background-color: #008540;
    }
    .label-danger {
      background-color: #ab1204;
    }
    .label-primary {
      background-color: #c15801;
    }
    .label-default {
      background-color: #37475e;
    }
  }

  .reservation-edit-form {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
      margin-left: 0;
      margin-right: 0;
    }

    &.editing {
      background-color: $gray-lighter;
    }

    .form-group {
      margin-bottom: 5px;
    }

    .col-sm-3 {
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
    }

    .form-controls {
      button + button {
        margin-left: 5px;
      }
    }

    .well {
      background-color: $light-gray;
    }

    &-heading {
      font-size: 1.2em;
    }
  }

  .comments-form {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
  }

  dd {
    margin-bottom: 10px;
  }

  .form-controls {
    text-align: right;
  }

  #reservation-order-info {
    margin-top: 24px;

    hr {
      border-style: solid;
      border-width: 1px;
    }
  }
}

.high-contrast {
  .reservation-edit-form {
    .well {
      background-color: white;
      border: 1px solid $black;
    }
  }
}
