.app-TopNavbar {
    background-color: $white;
    margin-bottom: 0;
    color: $black;
    min-height: 95px;
    @media(max-width:$screen-sm-max) {
      min-height: 72px;
    }

    > div.container-fluid {

      .navbar-brand {
        margin-left: 0;
        font-size: inherit;
      }
    }

    .navbar-brand {
      min-height: 90px;

      @include addFocus;
    }

    .turku-logo {
      background-image: url('../../assets/pictures/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      filter: brightness(0);

      &-sv {
        display: block;
        background-image: url('../../assets/pictures/logo_sv.png');
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0);
      }
    }

    .turku-logo, .turku-logo-sv {
      @media (max-width:$screen-400) {
        display: block;
        height: 40px;
        width: 70px;
      }

      @media (min-width:$screen-400) {
        display: block;
        height: 40px;
        width: 120px;
      }

      @media (min-width:$screen-sm-max) {
        display: block;
        height: 60px;
        width: 180px;
      }

      &.high-contrast {
        filter: brightness(0);
      }
    }


    .brand-logo {
      @include helsinki-logo($black);
      display: block;
      height: 1.875rem;
      width: 120px;
    }

    @mixin hel-background-icon($name) {
      background-image: url('~hel-icons/dist/shapes/#{$name}.svg');
      background-size: 24px 24px;
      content: '';
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 4px;
    }

    &__font {
      border-bottom: none;
      display: block;
    }

    // Accessability

    .accessibility{
      &__buttonGroup {
        padding-top: 15px;
        padding-bottom: 14px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 1em;
        border-bottom: none;
        display: block;
        cursor: default;

        span {
          padding-left: 0px;
          margin-left: 5px;
          cursor: pointer;

          @include addFocus;


          &:hover {
            text-decoration: none;
          }

          &.active {
            text-decoration: underline;
          }
        }
        // firstA
        span:nth-child(1) {
          font-size: 1em;
        }

        // secondA
        span:nth-child(2) {
          font-size: 1.25em;
          line-height: 1.2;
        }

        // thirdA
        span:nth-child(3) {
          font-size: 1.5em;
          line-height: 1;
        }

      }

      &__contrast {
        padding-top: 18px;
        padding-bottom: 18px;
        margin-right: 15px;
        margin-left: 15px;

        .contrast_button {
          background-image: url('../../assets/icons/iconContrastSV.svg');
          background-size: 1.5em 1.5em;
          width: 1.5em;
          height: 1.5em;
          float: right;
          cursor: pointer;
          filter: invert(0%);

          @include addFocus;


        }
      }
    }

    // ----------

    &__name > a {
      @media (max-width: $screen-xs-max) {
        font-size: 0 !important;
      }

      &::before {
        @include hel-background-icon('user-o');
      }
    }

    .nav {

      li {

        a {
          padding-left: 2px;
          margin-left: 2px;
        }

        a#language-nav-dropdown {
          text-transform: uppercase;
          padding-right:5px;
          margin: 0 10px 0 15px;

          @include addFocus;
        }
      }

      li.disabled > a {
        padding-left: 0;
        margin-right: 0;
      }
    }

    // Start: Remove responsive features from bootstrap nav to create a single-line top nav
    .navbar-header {
//      float: left;
      margin-left: -15px;
      margin-right: -15px;

      svg {
        height:22px;
        width: 22px;
      }
    }

    // TopNavbar navbar-nav

    .navbar-nav {
      float: left;
      margin: 0;
      margin-right: 0px;


      > li {
        float: left;

        > a {
          padding-top: 18px;
          padding-bottom: 18px;
          position: relative;
          padding-right: 0;
          margin-right: 15px;
          margin-left: 15px;
          font-weight: 500;
          font-size: inherit;
          line-height: 1.5;
          color: $black;

          &:hover {
            color: $black;
          }

          &:active {
            color: $black;
          }

          @include addFocus(){
            color: $black;
          }

        }
      }

      > .active > a:after,
      > li > a:hover:after {
        content: '';
        border-bottom: 1px solid $black;
        bottom: 21px;
      }

      .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        min-width: 10px;

        li > a:hover,
        li > a.active {
          text-decoration: underline;
          background-color: transparent;
        }

        li > a {
          @include addFocus(){
            background-color: transparent;
          }
        }

      }
      > .open > a,
      > .open > a:hover,
      > .open > a:focus,
      > .open > a:active {
        color: inherit;
      }
    }
    // ----------

    .navbar-right {
      float: right;

      .dropdown-menu {
        right: 0;
        left: auto;
        font-size: 1em;
      }
    }
    // End: Remove responsive features

    &.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      background-color: $white;
    }



    // High-contrast

    @include highContrast {
      border-bottom: 1px solid $black;
      .navbar-brand {

        span {
          filter: brightness(0);
        }
      }

      .navbar__contrast > .accessibility__contrast > .contrast_button {
        filter: invert(0%);
      }

      .navbar-nav {

        li {

          a {
            color: $black;

            &:hover {
              color: $black;
            }

            &:active {
              color: $black;
            }

            &:focus {
              color: $black;
            }
          }
        }

        > .active > a:after,
        > li > a:hover:after {
          content: '';
          border-bottom: 1px solid $black;
          bottom: 21px;
        }
      }

      > .open > a,
      > .open > a:hover,
      > .open > a:focus,
      > .open > a:active {
        color: inherit;
        }
    }
  }
    // ----------

    // Mobile

  .mobile_lang_dropdown {
    list-style: none;
    text-transform: uppercase;

    a:hover,
    a:active,
    a:focus {
      color: $black;
      background-color: transparent;
    }
    a:focus{

    }

    .dropdown-menu {
      min-width: 10px;
      right: -20px;
      left:-20px;
      text-align: center;
      padding: 0;
      font-size: 1em;

      > li >a:hover,a:active,a:focus {
        color: $black;
        text-decoration: none;
        background-color: $white;
      }

      > li > a{
        padding: 0.875em 0;
      }
    }
  }
  .navbar-toggle {
    margin-left: 15px;

    &.lang {
      margin-left: 0;
    }
    &:hover,
    &:active,
    &:focus {

    }

    .mobile_accessibility {
      cursor: pointer;
    }
  }

  .dropdown-toggle:focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    @include focusElement;
  }

  .navbar-collapse > ul li.app-TopNavbar__language.dropdown,
  .navbar-collapse > ul li.navbar__font,
  .navbar-collapse > ul li.navbar__contrast  {
    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

    // ----------
