.app-TopNavbar {
    background-color: $white;
    margin-bottom: 0;
    color: $black;
    min-height: 95px;
    @media(max-width:$screen-sm-max) {
      min-height: 72px;
    }

    > div.container-fluid {

      .navbar-brand {
        margin-left: 0;
        font-size: inherit;
      }
    }

    .navbar-brand {
      min-height: 90px;

      @include add-focus;
    }

    .varaamo-logo {
      background-image: url('../../assets/pictures/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      filter: brightness(0);

      &-sv {
        display: block;
        background-image: url('../../assets/pictures/logo_sv.png');
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0);
      }
    }

    .varaamo-logo, .varaamo-logo-sv {
      @media (max-width:$screen-400) {
        display: block;
        height: 40px;
        width: 70px;
      }

      @media (min-width:$screen-400) {
        display: block;
        height: 40px;
        width: 120px;
      }

      @media (min-width:$screen-sm-max) {
        display: block;
        height: 60px;
        width: 180px;
      }

      &.high-contrast {
        filter: brightness(0);
      }
    }


    .brand-logo {
      @include helsinki-logo($black);
      display: block;
      height: 1.875rem;
      width: 120px;
    }

    @mixin hel-background-icon($name) {
      background-image: url('~hel-icons/dist/shapes/#{$name}.svg');
      background-size: 24px 24px;
      content: '';
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 4px;
    }

    &__font {
      border-bottom: none;
      display: block;
    }

    // Accessability



    .accessibility{
      &__buttonGroup {
        padding-top: 15px;
        padding-bottom: 14px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 1em;
        border-bottom: none;
        display: block;
        cursor: default;

        button {
          border: 0;
          background-color: transparent;
          padding-left: 0px;
          margin-left: 5px;
          cursor: pointer;
          @include add-focus;
          &:hover {
            text-decoration: none;
          }

          &.active {
            text-decoration: underline;
          }
        }

        // first
        button:nth-child(1) {
          font-size: 1em;
        }

        // second
        button:nth-child(2) {
          font-size: 1.25em;
          line-height: 1.2;
        }

        // third
        button:nth-child(3) {
          font-size: 1.5em;
          line-height: 1;
        }

        span {
          padding-left: 0px;
          margin-left: 5px;
          cursor: pointer;

          @include add-focus;


          &:hover {
            text-decoration: none;
          }

          &.active {
            text-decoration: underline;
          }
        }
      }

      &__contrast {
        padding-top: 18px;
        padding-bottom: 18px;
        margin-right: 15px;
        margin-left: 15px;

        .contrast_button {
          border: 0;
          background-color: transparent;
          background-image: url('../../assets/icons/iconContrastSV.svg');
          background-size: 1.5em 1.5em;
          width: 1.5em;
          height: 1.5em;
          float: right;
          cursor: pointer;
          filter: invert(0%);

          @include add-focus;


        }
      }
    }

    // ----------

    &__name > a {
      @media (max-width: $screen-xs-max) {
//        font-size: 0 !important;
      }

      &::before {
        @include hel-background-icon('user-o');
      }
    }

    .nav {

      li {

        a {
          padding-left: 2px;
          margin-left: 2px;
        }

        a#language-nav-dropdown {
          text-transform: uppercase;
          margin: 0;
          padding-left: 15px;
          padding-right: 15px;

          @include add-focus;

        }
      }

      li.disabled > a {
        padding-left: 0;
        margin-right: 0;
      }
    }

    // Start: Remove responsive features from bootstrap nav to create a single-line top nav
    .navbar-header {
      margin-left: -15px;
      margin-right: -15px;

      svg {
        height:22px;
        width: 22px;
      }
    }

    // TopNavbar navbar-nav

    .navbar-nav {
      float: left;
      margin: 0;
      margin-right: 0px;


      > li {
        float: left;

        @media(max-width: $screen-sm-max) {
          float: right;
        }

        > a {
          padding: 18px 0px;
          position: relative;
          margin-right: 15px;
          margin-left: 15px;
          font-weight: 500;
          font-size: inherit;
          line-height: 1.5;
          color: $black;

          &:hover {
            color: $black;
          }

          &:active {
            color: $black;
          }

          @include add-focus(){
            color: $black;
          }

        }
      }

      > .active > a:after,
      > li > a:hover:after {
        content: '';
        border-bottom: 1px solid $black;
        bottom: 21px;
      }

      >.active > #language-nav-dropdown:after,
      > li > #language-nav-dropdown:hover:after {
        border: none;
      }

      .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #ffffff;
        border: none;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        min-width: 10px;

        li > a:hover,
        li > a.active {
          text-decoration: underline;
          background-color: transparent;
        }

        li > a {
          margin: 0 auto;
          text-align: center;
          padding: 0.875em 0;
          @include add-focus(){
          //  outline-offset: -3px;
            background-color: transparent;
          }
        }

        .active > a {
          background-color:lightgray;
          @include add-focus(){
            background-color:lightgray;
          };
          &:hover {
            background-color: lightgray;
          }
        }

      }
      > .open > a,
      > .open > a:hover,
      > .open > a:focus,
      > .open > a:active {
        color: inherit;
      }
    }

    &__mobile.username,
    &__mobile.logout {
      display: none;
      @media(max-width: $screen-sm-max) {
        display: flex;
        padding: 0;
      }

       > p {
        margin: 0;
        padding-top: 8px;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        &::before {
          @include hel-background-icon('user-o');
        }
      }
    }

    &__mobile.logout {
      margin-left: auto;

      > a#mobile_logout {
        padding: 0;
        align-self: center;
        margin-right: 0;
      }
    }


    // ----------

    .navbar-right {
      float: right;

      .dropdown-menu {
        right: 0;
        left: -2px;
        font-size: 1em;
      }
    }
    // End: Remove responsive features

    // High-contrast

    @include high-contrast {
      border-bottom: 1px solid $black;
      .navbar-brand {

        span {
          filter: brightness(0);
        }
      }

      .navbar__contrast > .accessibility__contrast > .contrast_button {
        filter: invert(0%);
      }

      .navbar-nav {

        li {

          a {
            color: $black;

            &:hover {
              color: $black;
            }

            &:active {
              color: $black;
            }

            &:focus {
              color: $black;
            }
          }
        }

        > .active > a:after,
        > li > a:hover:after {
          content: '';
          border-bottom: 1px solid $black;
          bottom: 21px;
        }
      }

      > .open > a,
      > .open > a:hover,
      > .open > a:focus,
      > .open > a:active {
        color: inherit;
        }
    }

    .navbar-collapse > ul {
      @media(max-width: $screen-sm-max) {
        width: 100%;
        display: flex;

      }
    }

    // ----------

    // Mobile

  .mobile-buttons {
    float: right;
  }

  .mobile_lang_dropdown {
    list-style: none;
    text-transform: uppercase;

    a:hover,
    a:active,
    a:focus {
      color: $black;
      background-color: transparent;
    }

    .dropdown-menu {
      min-width: 10px;
      right: -12px;
      left: -12px;
      text-align: center;
      padding: 0;
      font-size: 1em;
      margin-top: 12px;

      > li >a:hover,a:active,a:focus {
        color: $black;
        text-decoration: none;
      }

      > li.active > a, > li.active > a:focus{
        background-color: lightgray;
      }

      > li > a{
        padding: 0.875em 0;
        @include add-focus(){
          outline-offset: -3px;
        }
      }
    }
  }
  .navbar-toggle {
    margin-left: 15px;
    float: none;

    &:focus-within {
      @include focusElement;
    }

    &.lang {
      margin-left: 0;
      > div > li {
        list-style: none;
      }
    }
    &:hover,
    &:active,
    .mobile_accessibility {
      cursor: pointer;
    }
  }

  .navbar-collapse > ul li.app-TopNavbar__language.dropdown,
  .navbar-collapse > ul li.navbar__font,
  .navbar-collapse > ul li.app-TopNavbar__name,
  .navbar-collapse > ul li.navbar__contrast,
  .navbar-collapse > ul li.logout-button,
  .navbar-collapse > ul li#desktopLang.app-TopNavbar__lang {
    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

  .navbar-collapse > ul li.login-button {
    flex: auto;
  }

  .navbar-collapse > ul li a#app-TopNavbar__login {
    float: right;

  }

}

    // ----------
