.reservation-date {
  &__content {
    background-color: $white;
    border: 1px solid $brand-primary;
    color: $black;
    margin: 0px auto;
    text-align: center;
    width: 150px;
    height: 130px;
    display: block;
    font-weight: bold;
    .reservation-date__day-number {
      margin-top: 20px;
      font-weight: bold;
      padding: 10px;
    }
  }
  &__month {
    background-color: $blue;
    color: $white;
    margin: 0;
    text-transform: uppercase;
    display: block;
  }

  h1{
    margin-top: 4px;
  }

  &__day-number {
    position: absolute;
    font-size: 2em;
    display: block;
    text-align: center;
    width: 150px;
    top: 95px;
    @media (max-width: $screen-xs-min) {
      top: 125px;
    }
  }

  &__day-of-week{
    position: absolute;
    display: block;
    text-align: center;
    width: 150px;
    top: 175px;
    margin-top: 5px;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      top: 170px;
    }
    @media (max-width: $screen-xs-min) {
      top: 200px;
    }
  }
  &__icon {
    height: 20px;
    margin-right: 6px;
  }
  &__time {
    margin-bottom: 0;
    font-weight: bold;
    .glyphicon {
      vertical-align: top;
    }
  }
}
