.reservation-date {
  &__content {
    background-color: $white;
    border: 1px solid $brand-primary;
    color: $black;
    margin: 0 auto 8px auto;
    text-align: center;
    width: 150px;
    height: 130px;
    display: block;
    font-weight: bold;
  }

  &__month {
    font-size: initial;
    background-color: $blue;
    color: $white;
    margin: 0;
    text-transform: uppercase;
    display: block;
  }

  h1 {
    margin-top: 4px;
  }

  &__day-number {

    margin-top: 12px;
    font-size: 2rem;
    display: block;
    text-align: center;
    width: 150px;
  }

  &__day-of-week {
    display: block;
    text-align: center;
    width: 150px;
  }

  &__icon {
    height: 20px;
    margin-right: 6px;
  }

  &__time {
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;

    .glyphicon {
      vertical-align: top;
    }
  }

  &__overnight-time {
    font-weight: normal;
  }
}