$externalIconMarginLeft: 5px;

.app-MainNavbar {
  background-color: $white;
//  background-color: $theme-primary-dark;
  margin-bottom: 0;
  .navbar-nav li,
  .navbar-nav > .active {
    a {
      color: $black !important;
    }
    a:hover {
      color: $black;
    }
    a:after,
    a:before,
    a:hover:after {
      color: $black;
      border-color: $black;
    }
  }
  .navbar-brand,
  .navbar-brand:hover,
  .navbar-toggle .icon-bar {
    color: $black;
  }
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav {
    li {
      a {
        display: flex;
        align-items: center;
      }
    }
  }

  .app-fontAwesome {
    margin-left: $externalIconMarginLeft;
  }
}
