$externalIconMarginLeft: 5px;

.app-MainNavbar {
  background-color: $varaamo-main;
  margin-bottom: 0;

  .navbar-nav li,
  .navbar-nav>.active {

    a {
      color: $white;
    }

    a:hover {
      color: $white;
    }

    a:focus {
      color: $white;
    }

    a:after,
    a:before,
    a:hover:after {
      color: $white;
      border-color: $white;
      border-bottom: 1px solid;
    }
  }

  .navbar-brand,
  .navbar-brand:hover,
  .navbar-toggle .icon-bar {
    color: $white;
  }

  .navbar-toggle .icon-bar {
    background-color: $white;
  }

  .navbar-brand,
  .navbar-toggle {
    font-size: inherit;

    @include add-focus() {
      color: $white;
    }
  }


  .navbar-nav {

    li {

      a {
        display: flex;
        align-items: center;
        font-size: inherit;

        @include add-focus;
      }

      #nav-admin-dropdown {
        color: $white;
      }

      .dropdown-menu {
        a {
          color: black;
        }

        .nav-dropdown-link {
          a {
            @media (max-width: $screen-md-min) {
              color: $white;

              &:hover {
                color: $white;
              }
            }

            @include add-focus;
          }
        }
      }
    }
  }

  .app-fontAwesome {
    margin-left: $externalIconMarginLeft;
  }
}

// High-contrast

.app-MainNavbar {

  @include high-contrast {
    border-bottom: 1px solid $black;

    .navbar-nav li,
    .navbar-nav>.active {

      a {
        color: $black;
      }

      a:hover {
        color: $black;
      }

      a:after,
      a:before,
      a:hover:after {
        color: $black;
        border-color: $black;
        border-bottom: 1px solid;
      }
    }

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-toggle,
    .navbar-toggle .icon-bar {
      color: $black;
    }

    .navbar-toggle .icon-bar {
      background-color: $black;
    }

    .navbar-nav li #nav-admin-dropdown {
      color: $black;
    }

    .navbar-nav li .dropdown-menu .nav-dropdown-link a {
      color: $black;
    }
  }
}
