.app-Favorites {
  background-color:#dedfe1;
}
.favorites-list {
  font-size: 1em;

  .row{
    margin-right: 0;
    margin-left: 0;
  }
}
.favorite {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-bottom: 20px;
//  margin-right: 3px;
  padding-left: 0;
  padding-right: 0;

  @include box-shadow;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  height: 350px;
  margin-bottom: 20px;
//  margin-right: 3px;
  padding-left: 0;
  padding-right: 0;

  @include box-shadow;
}

.favorite-content {
  padding: 0;
}
.favorite-description {
  display: -webkit-box;
  overflow: hidden;
//  max-height: 120px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.favorite-title {
//  padding-right: 0;
  h3 {
    font-size: 1.2em;
    overflow-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.favorite-row {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
//  justify-content: center;

  :nth-last-child(1){
 //   margin-right: 0px;
  }
}

.favorite-image-container {
  padding: 0;
  height: 160px;
  width:100%;
  @media(min-width: $screen-lg-min) {
    max-height: 200px;
    width:100%;
  }
  @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-height: 180px;
    width:100%;
  }

}
.favorite-image{
  height: 160px;
  width: 100%;
  @media(min-width: $screen-lg-min) {
    max-height: 200px;
    width:100%;
  }
  @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-height: 180px;
    width:100%;
  }

}

.favorite-name-container {

}
