footer {
  background-color: $turku-blue-dark;
  color: $white;
  z-index: 898;
  margin-top: 40px;
  text-align: center;

  .brand-link {
    display: block;
    color: $white;
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;

    img {
      display: block;
      margin: 0 auto;
      height: 100px;
    }
  }

  .feedback-link,
  .accessibility-info-link {
    color: $white;
  }

  .about-link {
    color: #fff;
    font-weight: bold;
  }

  a {
    color: $white;

    @include add-focus;
  }

  a:hover,a:focus {
    color: $white;
  }

  @include high-contrast {
    border-top: 1px solid $black;
    .brand-link > img {
      filter: brightness(0);
    }

    .feedback-link,
    .accessibility-info-link {
      color: blue;
    }
    a, a:hover {
      color: blue;
    }
  }

}
