$card-border-color: #d6d6d6;
$image-items-margin: 5px;
$resourceCardPadding: 15px;
$cellWidth: 33.33%;
$cellHeight: 50%;

.app-ResourceCard {
  margin: 20px 0;
  background-color: $white;
  display: flow-root;
  @include box-shadow;
  @include add-focus($width: 2px, $color: currentColor) {
  }

  &__normal-font-size {
    @media (min-width: $screen-md-min) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  a {
    text-decoration: none;
    display:inline-block;
    margin: 2px 2px 0 0;
    @include add-focus($width: 2px, $color: currentColor) {
      outline-offset: 1px;
    }

  }
  > a {
    margin: 0;
  }

  &__image-link{
    display: block;
    margin: auto;
    @media (min-width: $screen-xs-min) {
      height: $app-ResourceCard-height;
      width: 100%;
    }
    @media screen and (max-width: $screen-md-min) {
      height: $app-ResourceCard-height;
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      flex: 1 1;
      min-width: $app-ResourceCard-height;
      max-width: 200px;
      height: inherit;

      &__large-font-size {
        height: $app-ResourceCard-height;
        width: 100%;
        max-width: none;
      }
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $gray-lighter;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    outline-width: 7px;
    @include add-focus($width: 2px, $color: currentColor) {
    }
  }

  &__content {
    padding-left: $resourceCardPadding;
    @media (min-width: $screen-md-min) {
      flex: 1 2 40%;
      overflow: hidden;
      @include add-focus($width: 2px, $color: currentColor) {
      }
    }
  }

  h3 {
    font-size: 1.2em;
    overflow-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 0;
    @include add-focus($width: 2px, $color: currentColor) {
    }
  }

  &__unit-name {
    margin-bottom: 5px;
    text-decoration: none;
    overflow-wrap: break-word;
    span:first-child {
      margin-right: 10px;
    }

    align-items: center;
    @include add-focus($width: 2px, $color: currentColor) {
    }
  }

  .resource-availability {
    color: $white;
  }
  .controls {
    text-align: center;
  }
  &__description {

    max-height: 2*3rem;
    margin-top: 15px;
    overflow: hidden;
    margin: 8px 8px 8px 0px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }


  &__info {
    display: flex;
    flex-wrap: wrap;


    &-cell {
      border: none;
      background: transparent;
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 6px 12px;
      @include add-focus($width: 2px, $color: currentColor) {
      }

      &:hover,
      &:focus {
        &:active {
          outline: none;
        }
        box-shadow: none;
      }

      &__icon {
        width: $line-height-computed*1.2;
      }

      &.btn {
        font-size: 1em;
      }

      span {

        text-align: center;
        text-transform: capitalize;
        white-space: initial;
      }
    }
    @media (min-width: $screen-xs-min) {
      display: inline-block;
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      flex: 1 2 40%;
      display: flex;
    }
  }

  .label-success {
    background-color: #008540;
  }
  .label-danger {
    background-color: $varaamo-red;
  }

  &.app-ResourceCard__stacked {
    @media (min-width: $screen-lg-min) {
      max-width: 1230px;
      margin: auto;
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      max-width: 1080px;
      margin: auto;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
      max-width: 880px;
      margin: auto;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 660px;
      margin: auto;
    }
    border: 2px solid $hel-silver;
  }

  .do-not-capitalize {
    text-transform: none;
  }
}
