$card-border-color: #d6d6d6;
$image-items-margin: 5px;
$resourceCardPadding: 15px;
$cellWidth: 33.33%;
$cellHeight: 50%;

.app-ResourceCard {
  margin: 20px 0;
  background-color: $white;
  display: flow-root;

  @media (min-width: $screen-md-min) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: $app-ResourceCard-height;
    width: $app-ResourceCard-width;
  }

  a {
    text-decoration: none;
  }

  &__image-link{
    display: block;
    @media (min-width: $screen-xs-min) {
      height: $app-ResourceCard-height;
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      flex: 1 1;
      min-width: $app-ResourceCard-height;
      max-width: 200px;
      height: 100%;
    }
    @media screen and (max-width: 767px) {
      height: $app-ResourceCard-height;
      width: 100%;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $gray-lighter;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    outline-width: 7px;
  }

  &__content {
    padding-left: $resourceCardPadding;
    @media (min-width: $screen-md-min) {
      flex: 1 2 40%;
      overflow: none;
    }
  }

  h4 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1;
    }
  }

  &__unit-name {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    span:first-child {
      margin-right: 10px;
    }

    display: inline-flex;
    align-items: center;

    &-labels {
      display: inline-flex;
    }
  }

  .resource-availability {
    color: $white;
  }
  .controls {
    text-align: center;
  }
  &__description {
    font-size: 1.1em;
    line-height: 2rem;
    max-height: 2*3rem;
    margin-top: 15px;
    overflow: hidden;
    width: -webkit-fill-available;

    @media screen and (max-width: 767px) {
      font-size: 0.9em;
      width: -webkit-fill-available;
    }
  }


  &__info {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.5em;

    &-cell {
      border: none;
      background: transparent;
      display: inline-flex;
      flex-direction: column;
      width: 33%;
      align-items: center;
      font-size: 2em;
      &:hover,
      &:focus {
        &:active {
          outline: none;
        }
        box-shadow: none;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &__icon {
        width: $line-height-computed*1.2;
      }

      span {
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
      }
    }  @media (min-width: $screen-xs-min) {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-flow: inherit;
      overflow: hidden;
    }
    @media (min-width: $screen-md-min) {
      flex: 1 2 40%;
    }
  }

  .label-success {
    background-color: $hel-tram;
  }
  .label-danger {
    background-color: $hel-brick;
  }

  &.app-ResourceCard__stacked {
    border: 2px solid $hel-silver;
  }

  .do-not-capitalize {
    text-transform: none;
  }
}
