.app-ResourceHeader {
  background-color: $turku-yellow;

  @include high-contrast{
    border-bottom: 1px solid black;
  };

  &__content {
    padding: 15px 0;
  }
  &__back-button.btn-link {
    color: $black;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.9em;
    @include add-focus($width: 2px, $color: currentColor) {}
    // Added focus to "Back to search results"-button and made it scalable
  }
  &__back-button::before {
    @include icon-angle-left($black);
    content: '';
    display: inline-block;
    height: $line-height-computed;
    width: $line-height-computed;
    vertical-align: bottom;
  }
  &__info-wrapper {
    display: inline-block;
    width: 100%;
  }
  &__info {
    display: inline-block;
    padding: 0 20px 0 0;
    &-icon {
      height: $line-height-computed;
      width: $line-height-computed;
      margin-right: 8px;
      vertical-align: bottom;
    }
  }
  &__buttons {
    display: inline-block;
    padding-top: 15px;
    button {
      @include add-focus(3px, currentColor) {}
      font-size: 1em;
      text-align: left;
      margin-right: 10px;
      margin-top: 10px;
      @media (max-width: $screen-xs-max) {
        width: 230px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 240px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 270px;
      }
    }
  }
  &__map-button {
    img {
      height: $line-height-computed;
      width: $line-height-computed;
      margin-right: 8px;
      vertical-align: bottom;
    }
  }
}
// Added focus to "Show on map" and "Add to favorites" buttons and made them scalable, fixed their sizes and alignment on mobile devices
.app-ResourceHeader__map-button {
  @media (max-width: $screen-xs-max) {
    width: 230px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 240px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 270px;
  }
}
.favorite-button {
  @media (max-width: $screen-xs-max) {
    margin-left: 0 !important;
    width: 230px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 240px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 275px;
  }
}

.calendar-link-button {
  @media (max-width: $screen-xs-max) {
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block;
  }
}
