.recurring-reservation-controls {
  .app-Select {
    &__control {
      margin-bottom: 10px;
      height: 40px;
      &:focus-within {
        border: 3px solid $black;
      }
    }
  }
  .app-SelectControl {
    padding: 10px 0 !important;
  }
  .Select-control {
    margin-bottom: $form-group-margin-bottom;
  }
  .react-numeric-input {
    padding: 9px 0 0 0;
    margin-top: 4px;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
  }
  .date-picker {
    border: 2px solid $black;
    padding: 5px 10px;
  }
  .date-picker-overlay {
    border: 2px solid $black;
    margin-left: -12px;
    margin-top: 5px;
  }
  .recurrence-frequency-select {
    padding: 5px 10px;
    margin-bottom: 24px;
  }
}
