.resource-type-button {
  // Made buttons scalable
  text-transform: capitalize;
  font-size: 1em;
  & + & {
    margin-left: 10px;
  }
}

.resource-type-filter-container {
  background-color: $gray-lighter;
  padding: 10px;
  margin-bottom: 10px;

  h6 {
    color: $gray-darker;
  }

  button {
    // Fixed button alignment
    padding: 5px;
    margin: 5px !important;

    @include addFocus($color: black){
      outline-offset: 2px;
    };
  }
}
